<!doctype html>
 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 	<title>Upload an excel file</title>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
  <link href="static/bootstrap.min.css" rel="stylesheet">
  <link href="../static/main.css" rel="stylesheet">
 </head>


<body>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">GDA Weather App for AWhere</a>
                <a href="http://globaldevelopmentanalytics.org/" target="_blank">
                    <img class="navbar-brand page-scroll" src="../static/gdalogo-1.png" class="img-responsive" alt="Responsive image">
                </a>
                <a href="http://www.awhere.com" target="_blank">
                    <img class="navbar-brand page-scroll" src="../static/awhere.png" class="img-responsive" alt="Responsive image">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="observations">Observations</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="forecasts">Forecasts</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>




    <section class="main" id="about">
      <div class="container">
        <div class="row">
          <div class="col-mid-1 text-center">
            <h1 id="subtext">GDA Weather Tool</h1>
            <h3 id="subtext">Get historical, PET, and forecast weather data from AWhere</h3>
            <p class="lead">
                <a href="observations" class="btn btn-lg btn-default">I want historical weather data</a>
            </p>
            <p class="lead">
                <a href="forecasts" class="btn btn-lg btn-default">I want forecast weather data</a>
            </p>
            <p class="lead">
                <a href="bulk" class="btn btn-lg btn-default">I have bulk data - help!</a>
            </p>
          </div>
        </div>
      </div>

    </section>



    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:ken@globaldevelopmentanalytics.org">hello@globaldevelopmentanalytics.org</a></p>
                </div>
            </div>
        </div>
    </section>


  <script
        src="https://code.jquery.com/jquery-3.0.0.min.js"
        integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="
        crossorigin="anonymous"></script>
  <!--<script src="static/moment.js"></script>
  <script src="static/combodate.js"></script>-->

</body>
</html>