 <!doctype html>
 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 	<title>Upload an excel file</title>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
  <link href="static/bootstrap.min.css" rel="stylesheet">
  <link href="../static/main.css" rel="stylesheet">
 </head>


<body>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">GDA Weather App for AWhere</a>
                <img class="navbar-brand page-scroll" src="../static/gdalogo-1.png" class="img-responsive" alt="Responsive image">
                <img class="navbar-brand page-scroll" src="../static/awhere.png" class="img-responsive" alt="Responsive image">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#observation">Observations</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#forecast">Forecasts</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>




    <section class="main" id="about">
      <div class="container">
        <div class="row">
          <div class="col-mid-1">
            <hr>
            <hr>
            <h2>GDA Weather Tool</h2>
            <p>Get historical, PET, and forecast weather data from AWhere</p>
          </div>
        </div>
      </div>

    </section>


    <section class="main" id="observation">
      <div class="container">
        <div class="row">
          <div class="col-mid-1">
            <h1>Get Historical Data for Single Location</h1>
          </div>
          <form action="" method=post>
            <div class="form-group">
              <label for="apiKey">API Key</label>
              <input type="text" class="form-control" name="api_key" placeholder="Example (fake): D4zX7C7fYgEKgGawSAiOIbtaPOxDK">
              <br>
              <label for="exampleInputName2">API Secret</label>
              <input type="text" class="form-control" name="api_secret" placeholder="Example (fake): c3ghw3T8DSoolG">
              <br>
              <label for="exampleInputName2">Latitude</label>
              <input type="text" class="form-control" name="latitude_input" placeholder="12.6">
              <br>
              <label for="exampleInputEmail2">Longitude</label>
              <input type="text" class="form-control" name="longitude_input" placeholder="-8.0">
              <br>
              <label for="dateInput1">Enter a starting date for historical data (if using Firefox, format as MM-YYYY-DD). If choosing "Forecast", leave this field blank</label>
              <input type="date" class="form-control" name="start_date" min="2005-01-01" placeholder="01-2016-01"><br>
              <label for="dateInput2">Enter an ending date for historical data (if using Firefox, format as MM-YYYY-DD 
              </label>
              <input type="date" class="form-control" name="end_date" min="2005-01-02" placeholder="01-2016-02"><br>
            </div>
            <button type="submit" name='btn' value='observation' class="btn btn-default">Get Historical Data</button>
            <button type="submit" name='btn' value='pet' class="btn btn-default">Get Historical PET Data</button>
          </form>
        </div>
      </div>
    </section>

    <section id="forecast">
      <div class="container">
        <div class="row">
          <div class="col-mid-1">
            <h1>Get Weather Forecast for Single Location</h1>
          </div>
          <form action="" method=post>
            <div class="form-group">
              <label for="apiKey">API Key</label>
              <input type="text" class="form-control" name="api_key" placeholder="Example (fake): D4zX7C7fYgEKgGawSAiOIbtaPOxDK">
              <br>
              <label for="exampleInputName2">API Secret</label>
              <input type="text" class="form-control" name="api_secret" placeholder="Example (fake): c3ghw3T8DSoolG">
              <br>
              <label for="exampleInputName2">Latitude</label>
              <input type="text" class="form-control" name="latitude_input" placeholder="12.6">
              <br>
              <label for="exampleInputEmail2">Longitude</label>
              <input type="text" class="form-control" name="longitude_input" placeholder="-8.0">
              <br>
              <label for="dateInput1">Enter a starting date for historical data (if using Firefox, format as MM-YYYY-DD). If choosing "Forecast", leave this field blank</label>
              <input type="date" class="form-control" name="start_date" min="2005-01-01" placeholder="01-2016-01"><br>
            </div>
            <button type="submit" name='btn' value='forecast' class="btn btn-default">Get Forecast Data</button>
          </form>
        </div>
      </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>


  <script
        src="https://code.jquery.com/jquery-3.0.0.min.js"
        integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="
        crossorigin="anonymous"></script>
  <!--<script src="static/moment.js"></script>
  <script src="static/combodate.js"></script>-->

</body>
</html>
